<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Book</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Book Title" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Author" formControlName="author" #author>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option *ngFor="let status of statuses" [value]="status.value">{{status.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateBook(title.value, author.value, status.value)"
        [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
